.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    overflow: hidden;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    transition: 0.3s ease;
}

.product:hover{
    transform: scale(1.03);
}


.product img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
}

.product_info{
    text-align: center;
    height: 100px;
    margin-bottom: 15px;
}

.product_price{
    margin-top: 5px;
}
.product_rating{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product button{
    background: #f0c14b;
    border: 1px solid #a88734,#9c7e31,#846a29;
    margin-top: 10px;
    padding: 8px 20px;
    cursor: pointer;
}
.product button:hover{
    background: #f0b621;
}

@media screen and (max-width:700px){
    .product{
        margin: 15px 2px;
        max-height: 400px;
        min-width: 29px;
        overflow: hidden;
        padding: 9px;
        width: 96%;
    }
    
}